In [1]:
Answer-1

Both while and for loop are used to execute the block of statement repeatedly until given condition is satisfied.

while loop is a entry type loop it mens that first it checks the condition and if it true then it execute the 
block of statement that written inside the while body.

for loop is also a entry controlled loop that same as while loop but in this loop we define three parts 
1.start index (where loop started)
2.end index which are exclusive (where loop is reached)
3.increaments (that steps are define )

example:
    
while num!=0:
    print(num)
    
for i in range(1,10):
    print(i)

SyntaxError: invalid decimal literal (63033455.py, line 9)

In [4]:
#print sum and product of first 10 natural number using while loop

#sum of first 10 natural number 
num=1
sum=0

while num<=10:
    sum=sum+num
    num=num+1
print("Sum of first 10 natural number is ",sum)
#product of the first 10 natural number 
num=1
product=1

while num<=10:
    product=product*num
    num=num+1
print("Product of first 10 natural number is ",product)

Sum of first 10 natural number is  55
Product of first 10 natural number is  3628800

In [6]:
#print sum and product of first 10 natural number using for loop

#sum of first 10 natural number 
sum_2=0
for i in [1,2,3,4,5,6,7,8,9,10]:
    sum_2=sum_2+i
print("Sum of first 10 natural number is ",sum_2)

#product of first 10 natural number is 
product_2=1
for i in range(1,11):
    product_2=product_2*i
print("Product of first 10 natural number is ", product_2)

Sum of first 10 natural number is  55
Product of first 10 natural number is  3628800

In [15]:
#Answer-3

units = int(input("Enter the units of electricity consumed in month"))

if units <= 100:
           Bill_amount = (units*4.5)
elif units <= 200:
         Bill_amount = (450+(units-100)*6)
elif units <=300:
           Bill_amount =( 450+600+(units-200)*10)
else:
           Bill_amount = (450+600+1000+(units-300)*20)
print("Total electricity bill amount is ",Bill_amount)

Enter the units of electricity consumed in month 310

Total electricity bill amount is  2250

In [2]:
#Answer-4
#using for loop and while loop
cube_list=[]
final_list=[]
num=1
while num<=100:
    cube_list.append(num*num*num)
    num=num+1

for i in cube_list:
    if i%4 == 0 or i%5 == 0:
        final_list.append(i)
print(cube_list)
print("length of cube list is " ,len(cube_list))
print(final_list)
print("length of list that each element is divisible by 4 or 5 is ",len(final_list))

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]
length of cube list is  100
[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]
length of list that each element is divisible by 4 or 5 is  60

In [ ]:
#answer-5
string="I want to become a data sci
vowels=0
for i in string:
      if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
            vowels=vowels+1
print("Number of vowels are:")
print(vowels)